/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.article-title {
  font-size: 20px;
  font-weight: 700;
}

html {
  font-size: 16px;
  background-color: white;
}

.recipes-of-the-day-button{
  background-color: red;
  border-radius: 40px;
  width: 150px;
  margin: auto;
  font-size: 11px;
  font-weight: 700;
  color: white;
  font-family: "Libre Franklin";
}

figure {
  margin: 0px 0px 32px;
}


main img {
  width: 290px;
  align-items: center;
  padding-bottom: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: left;
  padding: 30px 10px 25px 20px;
  font-family: "Sorts Mill Goudy";
  line-height: 1.2;
  font-size: 20px;
}

.credits{
  font-family: "Libre Franklin";
  font-weight: 700;
}

h2{
  font-family: "Sorts Mill Goudy";
  line-height: 1.5;
  font-size: 24px;
}

.text-intro { 
  font-family: "Sorts Mill Goudy";
}

h3{
  font-size: 16px;
  font-family: "Libre Franklin";
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.learn-more-section {
  font-family: 'Libre Franklin';
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

main{
  background-color: lightgrey;
  padding: 15px 25px;
}

.article-title {
  font-size: 20px;
  text-align: left;
  padding-top: 9px;
  padding-bottom: 10px;
  font-family: "Sorts Mill Goudy";
}

.article{
  background-color: white;
  font-size: 20px;
  line-height: 1.2;
}

figcaption {
  font-size: 20px;
  margin: 5px 10px;
  height: 40px;
  padding-bottom: 65px;
  line-height: 1.2;
  font-weight: 300;
}

.button-menu {
  padding-top: 17px;
  padding-bottom: 10px;
}

.philipino-menu {
  background-color: white;
}

.nav-button {
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-evenly;
padding-top: 20px;
}

header img{
  padding-top: 20px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  font-family: 'Libre Franklin'
  /* font-family: 'Sorts Mill Goudy', serif; */
}

a {
  color: inherit;
}


img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */
