/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

font-family: 'Libre Franklin', sans-serif;
font-family: 'Sorts Mill Goudy', serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
main {
  background-color: lightgray;
}

figure {
  margin: 0px 0px 32px;
}

main img {
  width: 262px;
  align-items: center;
}

.article{
  justify-content: center;
  margin: auto;
}

figcaption {
  font-size: 20px;
  margin: 5px 10px;
  height: 40px;
}

.button-menu {
  padding-top: 10px;
  padding-bottom: 20px;
}

.philipino-menu {
  background-color: white;
}

.nav-button {
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-evenly;
padding-top: 20px;
}

header img{
  padding-top: 20px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */
